{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
</head>
<body>
    <header>
        <!-- Fundamental Five -->
        <nav>
            <!-- Navigation links -->
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if projects %}
            <p>
                <a href="{% url 'projects:create_project' %}">Create a new project</a>
            </p>
            
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>


