{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ project.projects_list }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <h3>Project Details</h3>
<p><a href="{% url 'tasks:create_task' %}">Create a new task</a></p>

        {% if tasks %}
        <table>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.projects_list }}</td>
                <td>{{ task.assignee.username }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>This project has no tasks.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
